/*zera as formatações do navegador*/
*{
	margin: 0px;
	padding: 0px;
}

/*deixa todas as rows com 100%, . pq é uma classe,
margin é o espaçamento entre as linhas*/
.row {
	width: 100%;
	float: left;
	margin-bottom: 30px;
}

/*ataca todas as divs dentro da row, com apenas um nível*/
.row div {
	background: brown;
	height: 80px;
	float: left;
}

/*estilizar o parágrafo*/
p {
	color: white;
	text-align: center;
	padding: 15px;
	font-size: 40px;
}


/*linha 1*/
.linha1 .coluna{
	width: 100%;
}


/*espaçamento entre elas é de 4%*/

/*linha 2*/
/*coluna com 48%*/
.linha2 .coluna{
	width: 48%;
} /*last-child faz com que a última coluna fique na direita*/
.linha2 .coluna:last-child{
	float: right;
}


/*linha 3*/
.linha3 .coluna{
	width: 30.66%;
	margin-right: 4%;
}
/*zera a margin-right da ultima coluna da linha 3*/
.linha3 .coluna:last-child{
	margin-right: 0;
}


/*linha 4*/
.linha4 .coluna{
	width: 22%;
	margin-right: 4%;
}
.linha4 .coluna:last-child{
	margin-right: 0;
}


/*linha 5*/
.linha5 .coluna{
	width: 16.8%;
	margin-right: 4%;
}
.linha5 .coluna:last-child{
	margin-right: 0;
}
